* { margin: 0
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}

h2 {font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: "montserrat";
    font-size: 130%;
}

.mainHeader{
  width: 100%;
  height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    background-color: #127E6E;
  }
  .mainLogo{
    block-size:70px;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
    padding-top: 20px;
    display: grid;
    justify-content: space-evenly;
  }
  .mainNav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all .2s linear;
    background-color: rgba(57, 223, 145, 0.7);;
    z-index: 100;
    line-height: 55px;
    float: right;
  }
  .mainNav.show{
    margin-left: 0;
  }
  .navLinks{
    background-color: #127E6E;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .linkItem{
  
    color: #F7E300;
    transition: 0.6ms;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    position: relative;
    justify-content: right;
  }
  .linkItem::after {
    position: absolute;
    content: "";
    background-color: #F7E300;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  .linkItem:hover::after {
    width: 100%;
  }
  .buttonMenu{
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /*pondra un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .buttonMenu span{
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #F7E300;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all .2s linear; /*creamos la linea debajo de cada link*/
  }
  /*Con los span dibujamos la x para cerrar*/
  .buttonMenu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #127E6E;
  }

  .buttonMenu.close span:nth-child(2){
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  .buttonMenu.close span:nth-child(3){
    display: none;
  }
  @media screen and (min-width:768px) {
    .buttonMenu{
      display: none;
    }
    .mainLogo{
        flex-basis: 30%;
      }

      .mainNav{
        position: static;
        margin-left: 0;
        flex-basis: 70%;
        height: 100%;
      }

      .navLinks{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        background: #127E6E;
      }

      .linkItem{
        display: inline-block;
        margin-top: 0;
        margin-right: 2rem;
      }

    }


  
header {
    width: 100%;
    height: 50px;
    background-color: #127E6E;
    display: table;
}


body{
    background: url(css/fondo_pokebook.jpeg);
    width:100% ;
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}
/*Página1 - Home*/

.containerOne{
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.absolutePageHome {
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
    margin-top: 10%;
}

.pokedexButton {
    background-color: #127E6E;
    color: aliceblue;
    font-size: 30px;
    padding: 20px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 50px;
    border-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

#wallpaper1 {
    width: 100% min-content;
}

#pag1Sec2 {
    overflow: hidden;
}



/*Página2 - Pokedex*/


#imagenPokedex{
    padding: 10px;
    block-size: 100px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
}

.containerTwo {
    display: none;
}

div {
    display: block;
}
.pokeCards {
    color: black;
    display:inline-table;
    margin: 30px;
    text-align: center;
    font-family: Montserrat;
    padding: 10px;
}

.styleForImageContainer{
    background-color: whitesmoke;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5px;
}

.stylePokemon{
    display: flex;
}

#namePokemon{
    color: #074d40;
    font-family: bebas Neue;
    font-size: 200%;
}

#selectorBox {
    width: 100%;
    height: 30em;
    display: block;
    padding: 0;
}

#visualizator {
    width: 100%;
    height: 20em;
    background-color: #ffff;
}

#headerPokedex {
    position: fixed 100%;
    background-color: #fae478;
    text-align: center;
}

#typesofPokemon {
    background-color:#fae478;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: medium;
    border-radius: 10px;
    position:inherit;
}

#numPokemon{
    font-weight: bold;
    font-size: 150%;
}

/*Página3 - Calculo*/

.containerThree {
    display: none;
}

#headerOrder{
  position: fixed 100%;
  background-color: #fae478;
  text-align: center;
  
}

#orderOfPokemon {
  background-color:#fae478;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: medium;
    border-radius: 10px;
    position:inherit;
  
}



footer {
    width: 100%;
    position: absolute;
    background-color: #127E6E;
}

footer p {
    padding-top: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #FAE478;
    font-family: "calibri";
}

footer .networkIcon {
    display:flex;
    justify-content: center;
    align-items: center;
}